<div id="main" class="container empresa" ng-show="isAuthenticated && profile.is_company">

	<!-- Contenido principal -->

	<div class="row">
		<div class="col-md-12 empresa-top clearfix">
			<img src="{{object.image_url}}" alt="logo" id="logo-empresa"/>
			<div class="empresa-info">
				<h2>{{object.name}}</h2>
				<a class="categoria">{{object.category.description}}</a><br/>
				<span class="star rating-4-5"></span>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<p class="small-font">{{object.description}}</p>
		</div>
	</div>
    <div class="row">
        <button type="submit" class="btn btn-info center-block width-30" ng-click="add_reward(object.pk)">Nuevo Premio</button>
    </div>

	<ul class="empresa-menu nav">

		<li>
			<a href="javascript:;" class="collapsed" data-toggle="collapse" data-target="#togglePremiosAvailable">
				<b class="caret"></b> Premios disponibles <span class="badge counter">{{object.rewards.length}}</span>
			</a>

			<ul class="collapse"  id="togglePremiosAvailable" role="menu">
				<li class="destacado dropdown" ng-repeat="item in object.rewards">
                      <div class="row">
                        <a href="javascript:;" class="clearfix dropdown-toggle" data-toggle="dropdown">
                          <b class="caret"></b>
                          <span class="nombre">{{item.name}}</span>
                        </a>
                          <span class="trophy"><i class="fa fa-trophy"></i></span><span class="badge">{{item.points}}</span>
                        <ul class="dropdown-menu">
                          <li>
                            <div class="promo">
                              <span class="codigo">{{item.codigo}}</span>
                              <div class="img" style="padding: 0px;">
                                <img ng-show="item.type==='PHYSICAL'" ng-src="{{item.image}}" width="100px" height="100px"/>
                                <img ng-show="item.type==='DISCOUNT'" src="http://mypoints.com.ar/media/Premio_descuento_en_compra.jpg" width="100px" height="100px"/>
                                <img ng-show="item.type==='VOUCHER'" src="http://mypoints.com.ar/media/Premio_dinero.jpg" width="100px" height="100px"/><br/>
                              </div>
                              <div class="txt">
                                {{item.terms}}
                              </div>
                              <div class="data clearfix">
                                <span>Stock disponible: {{item.stock}}</span><br/>
                                <span>Vencimiento: {{item.period_to}}</span><br/>
                                <span>Valoración: </span><br/>
                                <span>Condiciones: </span><br/>
                                <p class="small-font">
                                {{item.conditions}}
                                </p>
                              </div>
                              <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-5">
                                    <button type="submit" class="btn btn-info center-block width-30" ng-click="edit_reward(object.pk, item)">Editar</button>
                                </div>
                                <div class="col-md-5">
                                    <button type="submit" class="btn btn-info center-block width-30" ng-click="delete_reward(object.pk, item)">Eliminar</button>
                                </div>
                              </div>

                              <div class="sep"></div>

                            </div>
                          </li>
                        </ul>
                      </div>
				</li>
            </ul>

		</li>

	</ul>

	<ul class="empresa-menu nav">

		<li>
			<a href="javascript:;" class="collapsed" data-toggle="collapse" data-target="#toggleBases">
				<b class="caret"></b> Bases y condiciones
			</a>

			<ul class="collapse"  id="toggleBases" role="menu">
				<li>{{object.legales}}</li>
            </ul>

		</li>

	</ul>
    <ul class="empresa-menu nav">

		<li>
			<a href="javascript:;" class="collapsed" data-toggle="collapse" data-target="#togglePuntosShare">
				<b class="caret"></b> Puntos para compartir premios o perfil de empresa en redes sociales
			</a>

			<ul class="collapse"  id="togglePuntosShare" role="menu">
				<li class="destacado dropdown">
                      <div >
                        <a href="javascript:;" class="clearfix dropdown-toggle" data-toggle="dropdown" ng-click="edit_share_reward_points(object)">
                          <b class="caret"></b>
                          <span class="nombre">Compartir premios por redes sociales: {{object.share_reward_points}}</span>
                        </a>
                      </div>
				</li>
                <li class="destacado dropdown">
                      <div >
                        <a href="javascript:;" class="clearfix dropdown-toggle" data-toggle="dropdown" ng-click="edit_share_company_points(object)">
                          <b class="caret"></b>
                          <span class="nombre">Compartir perfil por redes sociales: {{object.share_company_points}}</span>
                        </a>
                      </div>
				</li>
            </ul>

		</li>

	</ul>
    <ul class="empresa-menu nav">

		<li>
			<a href="javascript:;" class="collapsed" data-toggle="collapse" data-target="#toggleSuscripciones">
				<b class="caret"></b> Listado de Suscripciones
			</a>

			<ul class="collapse"  id="toggleSuscripciones" role="menu">
				<li class="destacado dropdown" ng-repeat="item in object.subscriptions">
                      <div >
                        <a href="javascript:;" class="clearfix dropdown-toggle" data-toggle="dropdown">
                          <b class="caret"></b>
                          <span class="nombre">{{item.email}}</span>
                        </a>
                      </div>
				</li>
            </ul>

		</li>

	</ul>
    <ul class="empresa-menu nav">

		<li>
			<a href="javascript:;" class="collapsed" data-toggle="collapse" data-target="#toggleCanjes">
				<b class="caret"></b> Canjes pendientes
			</a>

			<ul class="collapse"  id="toggleCanjes" role="menu">
				<li class="destacado dropdown" ng-repeat="item in object.pending_transactions">
                      <div >
                        <a href="javascript:;" class="clearfix dropdown-toggle" data-toggle="dropdown">
                          <b class="caret"></b>
                          <span class="nombre">{{item.user.email}} - {{item.reward.name}} - {{item.code}}</span>
                        </a>
                      </div>
				</li>
            </ul>

		</li>

	</ul>
  <!-- Fin contenido principal -->
  <footer>
  </footer>

</div> <!-- /container -->
