<div id="main" class="container home" ng-show="isAuthenticated && profile.is_company">

	<div class="alert alert-fy">
		<p>Bienvenido a su consola corporativa <br/> Chequea las novedades!.</p>
	</div>

	<ul id="home-menu" class="nav">

    	<li>
			<a href="javascript:;" class="collapsed" data-toggle="collapse" data-target="#toggleEmpresas">
				<i class="glyphicon glyphicon-record"></i> Empresas registradas
			</a>

			<ul id="toggleEmpresas" role="menu" class="collapse in">
				<li ng-repeat="company in profile.company_owned"><a ui-sref="company({id: company.pk})">{{company.name}}</a></li>
      		</ul>
		</li>

	</ul>

  <footer>
  </footer>

</div>