<div id="main" class="container empresa">
  <div class="row">
  <span> Imprime esta pagina y ve al local</span>
  </div>
	<div class="row">
    <span>El codigo es {{qr_code}}</span>
	</div>

	<footer>
  </footer>

</div>
