<div id="main" class="container home" ng-show="isAuthenticated && profile.is_company">
	<form>
         <input type="text" ng-model="searchKeyword" class="form-control" id="input-search" placeholder="Ingrese el Codigo..." alt="Ingrese el codigo de canje"/>
	</form>

	<ul id="home-menu" class="nav">
		<li>
			<ul id="toggleCercanos" role="menu">
				    <li class="item-accordion" ng-repeat="item in reward_exchange | filter: searchKeyword">
                			{{item.code}} - {{item.company.name}} - {{item.reward.name}} - {{item.user.email}} <a class="plus" ng-click="canjear(item)"><i class="glyphicon glyphicon-plus"></i></a>
            		</li>
      		</ul>
		</li>
	</ul>

  <footer>
  </footer>

</div>