<div class="modal-header" style="
    color: black;
">
  <h3>{{modalOptions.headerText}}</h3>
</div>
<div class="modal-body" style="
    color: black;
">
  <p>{{modalOptions.bodyText}}</p>
  <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="name" ng-model="modalOptions.reward.name">
      </div>
      <div class="form-group">
        <label for="name">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Description" ng-model="modalOptions.reward.description">
      </div>
      <div class="form-group">
        <label for="name">Tipo</label>
          <select class="form-control" name="mySelect" id="mySelect" ng-model="modalOptions.reward.type">
                <option ng-repeat="option in modalOptions.availableOptions" ng-value="option.id">{{option.name}}</option>
          </select>
      </div>
      <div class="form-group">
        <label for="name">Inicio</label>
          <div class="dropdown">
          <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">
            <div class="input-group"><input type="text" class="form-control"  ng-model="modalOptions.reward.period_from"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker ng-model="modalOptions.reward.period_from" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
          </ul>
        </div>
      </div>
      <div class="form-group">
        <label for="name">Fin</label>
          <div class="dropdown">
          <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown">
            <div class="input-group"><input type="text" class="form-control"  ng-model="modalOptions.reward.period_to"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker  ng-model="modalOptions.reward.period_to" data-datetimepicker-config="{ dropdownSelector: '#dropdown3' }"/>
          </ul>
        </div>
      </div>
      <div class="form-group">
        <label for="name">Terminos y Condiciones</label>
        <input type="text" class="form-control" id="terms" ng-model="modalOptions.reward.terms" placeholder="Terminos y Condiciones">
      </div>
      <div class="form-group">
        <label for="name">Puntos</label>
        <input type="text" class="form-control" id="puntos" ng-model="modalOptions.reward.points" placeholder="0">
      </div>
       <div class="form-group">
        <label for="name">Stock</label>
        <input type="text" class="form-control" id="puntos" ng-model="modalOptions.reward.stock" placeholder="1">
      </div>
      <div class="form-group">
            Imagen: <input type="file" ngf-select ng-model="modalOptions.reward.picFile" name="file" ngf-accept="'image/*'" required>
            <img ngf-src="picFile" class="thumb">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="modalOptions.reward.active">Activo
        </label>
      </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn"
          data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
  <button class="btn btn-primary"
          data-ng-click="modalOptions.ok();">{{modalOptions.actionButtonText}}</button>
</div>