<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">


  <title>myPoints</title>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../bower_components/ng-table/dist/ng-table.css">
  <link rel="stylesheet" href="../node_modules/angular-bootstrap-datetimepicker/src/css/datetimepicker.css"/>
  <link rel="stylesheet" href="css/social-buttons.css"/>
  <link rel="stylesheet" href="css/font-awesome.min.css"/>
  <link rel="stylesheet" href="css/main.css"/>
  <link rel="stylesheet" href="../www/lib/angular-xeditable/dist/css/xeditable.min.css"/>
  <link rel="stylesheet" href="../www/lib/ngToast/dist/ngToast.min.css">
  <style>

      .container-fluid {
        padding-right: 50px;
        padding-left: 50px;
      }
      .selected {
        background-color: #d9edf7;
      }

  </style>

  <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-resource/angular-resource.js"></script>
  <script src="../bower_components/ng-table/dist/ng-table.min.js"></script>


  <script type='text/javascript' src='../bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js'></script>
  <script type='text/javascript' src='../bower_components/angular-ui-router/release/angular-ui-router.min.js'></script>


  <script src="../www/lib/angular-xeditable/dist/js/xeditable.min.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>

  <script src="../www/lib/angular-animate/angular-animate.min.js"></script>
  <script src="../www/lib/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="../www/lib/ngToast/dist/ngToast.min.js"></script>
  <script src="../www/lib/angular-ui-mask/dist/mask.js"></script>

  <script type="text/javascript" src="../www/lib/qrcode/lib/qrcode.min.js"></script>
  <script type="text/javascript" src="../www/lib/angular-qr/angular-qr.min.js"></script>

  <script src="../www/lib/lodash/lodash.js"></script>
  <script src="../www/lib/ng-password-strength/dist/scripts/ng-password-strength.js"></script>

  <script src="js/all.js"></script>


  <!--[if lt IE 9]>
  <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body ng-app="angularApp" ng-controller="UserCtrl" class="{{indexClass}}" ng-init="cssMode='bootstrap'; calculationMode='formula'; goal=50">

   <toast></toast>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-show="isAuthenticated && !profile.is_company">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" ui-sref="home"><img src="image/logo.png" style="width: 40px;height: 40px;margin-top: -10px;"/></a>
          <div class="nav-icons" tooltip="Tooltip!" tooltip-placement="left">

            <a ui-sref="home" tooltip="Tooltip!"><span class="fa  fa-bell"></span></a>
            <a ui-sref="companies_list" tooltip="Tooltip!"><span class="fa  fa-plus"></span></a>
            <a ui-sref="my_rewards" tooltip="My Rewards"><span class="fa fa-trophy"></span></a>

            <a href="javascript:" context-menu="menuOptions" context-menu-on="click" tooltip="Tooltip!"><span class="glyphicon glyphicon-wrench"></span></a>
          </div>
        </div>
      </div>
    </nav>
    <div id="main" class="container home" ng-show="isAuthenticated && profile.is_company">
    <div class="alert alert-fy">
      <p>Lo lamentamos pero su perfil solo sirve para la parte de empresa. Si desea acceder aqui cree un perfil solo usuario desde el registro</p>
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" ui-sref="home"><img src="image/logo.png" style="width: 40px;height: 40px;margin-top: -10px;"/></a>
            <div class="nav-icons" tooltip="Tooltip!" tooltip-placement="left">
              <a href="javascript:" context-menu="menuOptions" context-menu-on="click" tooltip="Tooltip!"><span class="glyphicon glyphicon-wrench"></span></a>
          </div>
        </div>
      </div>
    </nav>
  </div>
	<div ui-view></div>
</body>
<div id="fb-root"></div>
</html>

