<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>myPoints</title>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../bower_components/ng-table/dist/ng-table.css">
  <link rel="stylesheet" href="../node_modules/angular-bootstrap-datetimepicker/src/css/datetimepicker.css"/>
  <link rel="stylesheet" href="css/social-buttons.css"/>
  <link rel="stylesheet" href="css/font-awesome.min.css"/>
  <link rel="stylesheet" href="css/main.css"/>
  <link rel="stylesheet" href="../www/lib/angular-xeditable/dist/css/xeditable.min.css"/>
  <link rel="stylesheet" href="../www/lib/ngToast/dist/ngToast.min.css">
  <style>

      .container-fluid {
        padding-right: 50px;
        padding-left: 50px;
      }
      .selected {
        background-color: #d9edf7;
      }

  </style>

  <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-resource/angular-resource.js"></script>
  <script src="../bower_components/ng-table/dist/ng-table.min.js"></script>


  <script type='text/javascript' src='../bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js'></script>
  <script type='text/javascript' src='../bower_components/angular-ui-router/release/angular-ui-router.min.js'></script>


  <script src="../www/lib/angularjs-social-login/angularjs-social-login.js"></script>
  <script src="../www/lib/angular-xeditable/dist/js/xeditable.min.js"></script>
  <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>

  <script src="../www/lib/angular-animate/angular-animate.min.js"></script>
  <script src="../www/lib/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="../www/lib/ngToast/dist/ngToast.min.js"></script>
  <script src="../www/lib/angular-ui-mask/dist/mask.js"></script>

  <script type="text/javascript" src="../www/lib/qrcode/lib/qrcode.min.js"></script>
  <script type="text/javascript" src="../www/lib/angular-qr/angular-qr.min.js"></script>

  <script type="text/javascript" src="../bower_components/moment/moment.js"></script>

  <script src="../bower_components/lodash/lodash.js"></script>
  <script src="../bower_components/ng-password-strength/dist/ng-password-strength.js"></script>

  <script type="text/javascript" src="../node_modules/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
  <script type="text/javascript" src="../node_modules/angular-bootstrap-datetimepicker/src/js/datetimepicker.templates.js"></script>

  <script src="../bower_components/ng-file-upload/ng-file-upload.min.js"></script>
  <script src="js/all.js"></script>


  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body ng-app="angularApp" ng-controller="UserCtrl" class="{{indexClass}}" >
    <toast></toast>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-show="isAuthenticated">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" ui-sref="home"><img src="image/logo.png" style="width: 40px;height: 40px;margin-top: -10px;"/></a>
          <div class="nav-icons" tooltip="Tooltip!" tooltip-placement="left">

            <a ui-sref="subscribers_finder" tooltip="Tooltip!"><span class="fa  fa-bell"></span></a>
            <a ui-sref="rewards_exchange" tooltip="Rewards Exchange"><span class="fa fa-trophy"></span></a>

            <a href="javascript:" context-menu="menuOptions" context-menu-on="click" tooltip="Tooltip!"><span class="glyphicon glyphicon-wrench"></span></a>
          </div>
        </div>
      </div>
    </nav>
	<div ui-view></div>
  <div ng-bind="selected"></div>
</body>
</html>

