<div id="main" class="container empresa" ng-show="isAuthenticated">

	<!-- Contenido principal -->
  <!--<ul class="empresa-menu nav">
		<li style="
    color: white;
    font-size: 20px;
    text-align: center;
">
			 Cambiar contraseña
		</li>
	</ul>-->

  <div class="row">
		<div class="col-md-12 empresa-top clearfix">
      <fieldset>
			  <div class="form-group">
              <div class="input-group">
                <label>Contraseña:</label>&nbsp;<a href="#" editable-password="passwords.new_password"> Editar </a>
              </div>
        </div>
		  </fieldset>
    </div>
	</div>
  <button class="btn btn-info width-100" ng-click="update()">Guardar</button>
	<!-- Fin contenido principal -->
  <footer>
  </footer>

</div> <!-- /container -->
