<div id="main" class="container register-form">

      <div class="row">
      <div class="col-md-2 col-xs-12 center-block no-float text-center" id="logo-container">
          <img src="image/logo.png" style="width: 100px;height: 100px;margin-top: -10px;"/>
          {{error}}
        </div>
      </div>

        <div class="row">
          <div class="col-md-4 col-xs-10 center-block no-float text-center rounded" id="register-form">
            <form ng-submit="register()">
              <fieldset>
                <div class="form-group">
                    <input type="text" ng-model="user.first_name" name="nombre" id="register-name" class="form-control" placeholder="Nombre">
                </div>
                <div class="form-group">
                      <input type="email" name="email" id="register-email" ng-model="user.email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                      <input type="email" name="email-confirm" id="register-email.confirm" ng-model="user.email_confirm" class="form-control" placeholder="Confirm email">
                </div>
                <div class="form-group">
                      <input type="password" name="ciudad" id="password" ng-model="user.password" class="form-control" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-info width-100" ng-disabled=="!(user.email && user.first_name && user.email_confirm==user.email)">Registrarme</button>
              </fieldset>
            </form>

          </div>
      </div>

	<!-- Fin contenido principal -->

      <footer>

      </footer>

    </div> <!-- /container -->
