<div id="main" class="container empresa" ng-controller="SocialCtrl">

	<!-- Contenido principal -->
  <div class="row">
		<div class="col-md-12 empresa-top clearfix">
      <fieldset>
			  <div class="form-group">
            <div class="input-group">
                <button class="btn btn-facebook" ng-click="share()"><i class="fa fa-facebook"></i> | Connect with Facebook</button>
            </div>
        </div>
		  </fieldset>
    </div>
	</div>
  <!--<fb:like href="http://www.mypoints.com.ar/?id=unpremio+user_id=otroid" layout="button_count" action="like" show_faces="false" share="false"></fb:like>-->
  <footer>
  </footer>
  <script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '1030952180306942',                           // App ID from the app dashboard
      version    : 'v3.1',
      status     : true,                                 // Check Facebook Login status
      xfbml      : true                                  // Look for social plugins on the page
    });
   }
  // Load the SDK asynchronously
  (function(){
     // If we've already installed the SDK, we're done
     if (document.getElementById('facebook-jssdk')) {return;}

     // Get the first script element, which we'll use to find the parent node
     var firstScriptElement = document.getElementsByTagName('script')[0];

     // Create a new script element and set its id
     var facebookJS = document.createElement('script');
     facebookJS.id = 'facebook-jssdk';

     // Set the new script's source to the source of the Facebook JS SDK
     facebookJS.src = '//connect.facebook.net/en_US/all.js';

     // Insert the Facebook JS SDK into the DOM
     firstScriptElement.parentNode.insertBefore(facebookJS, firstScriptElement);
   }());

  </script>

</div> <!-- /container -->
